<template>
    <div>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form @submit.prevent="login">
                        <h1>Login Form</h1>
                        <div>
                            <input
                                type="email"
                                class="form-control"
                                placeholder="Enter Email Address"
                                v-model="form.email"
                            />
                            <small class="text-danger" v-if="errors.email">{{ errors.email }}</small>
                        </div>
                        <div>
                            <input
                                type="password"
                                class="form-control"
                                placeholder="Password"
                                v-model="form.password"
                            />
                            <small class="text-danger" v-if="errors.password">{{ errors.password }}</small>
                        </div>
                        <div>
                            <button
                                type="submit"
                                class="btn btn-default submit"
                            >
                                Login
                            </button>

                            <router-link to="/forget" class="reset_pass"
                                >Lost your password?</router-link
                            >
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">
                                New to site?
                                <router-link class="to_register" to="/register">
                                    Create Account</router-link
                                >
                            </p>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    created() {
        if (User.logedIn()) {
            this.$router.push({ name: "home" });
        }
    },
    data() {
        return {
            form: {
                email: null,
                password: null,
            },
            errors:'',

        };
    },
    methods: {
        login() {
            axios
                .post("/api/auth/login", this.form)
                .then((res) => {
                    User.responseAfterLogin(res);
                    Toast.fire({
                        icon: "success",
                        title: "Signed in successfully",
                    });
                    this.$router.push({ name: "home" });
                })

                .catch((error) => this.errors = error.response.data.errors)

        },
    },
};
</script>
